.jitCanvas {
    position: absolute;
}

#domainGraph {
    background-color: grey;
    z-index: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#graphMinimap {
    background-color: aquamarine;
    z-index: 1;
    height: 30%;
    width: 20%;
}

#graphTools {
    position: absolute;
    top: 5px;
    right: 0px;
    z-index: 2;
}

#graphLayout {

}

#graphFocus {

}

#memberberries {
}

#graphLegend {
    position: absolute;
    top: 30%;
}

#graphLegend h2 {
    cursor: help;
}

#graphLegend dl {
    overflow: hidden;
    display: none;
}

#graphLegend dd {
    float: left;
}

#graphLegend dt {
    clear: both;
    float: left;
    width: 1em;
    height: 1em;
}